.item_container{
    display: flex;
    margin-top: 40px;
}
.img_name{
    display: flex;
    justify-content: center;
    align-items: center;
}
.name p{
    font-size: 20px;
    margin-left: 10px;
}
.delete_btn{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    margin-top: 15px;
    margin-left: 20px;
}
.img_name .img img{
    width: 50px;
}

