.book_img{
    width: 220px;
}
.card-footer button {
    background-color: rgb(243, 215, 58);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 500;
}
/* .items{
    width: 400px;
    

} */